body{
    color: #fefefe;
    background-image: url(../background_negate.jpg);
}

header{
    background-color: #000 ;
    border:3px dashed #fefefe; 
    box-shadow: 0 0 10px rgba(216, 217, 215 , 0.4);
}

nav{
    background-color: #000 ;
    border:3px dashed #fefefe; 
    box-shadow: 0 0 10px rgba(216, 217, 215 , 0.4);
}

h2{
    color: #000;
}

a{
    color: #74ffff;
}

a:hover{
    color: #ffff74;
}

.tb{
    color: #fefefe;
}

footer{
    background-color: #000 ;
    border:3px dashed #fefefe; 
    box-shadow: 0 0 10px rgba(216, 217, 215 , 0.4);
}

.INFO{
    background-color: #000 ;
    border:3px dashed #fefefe; 
    box-shadow: 0 0 10px rgba(216, 217, 215 , 0.4);
}

.theme{
    background-color: #000 ;
    box-shadow: 0 0 10px rgba(216, 217, 215 , 0.4);
}


.changeTheme[data-theme = "dark"]{
    display: none;
}

.changeTheme[data-theme = "light"]{
    display: block;
}