html{
    overflow: hidden;
}

body{
    padding-top: 100px;
    padding-right: 140px;
    padding-left: 140px;
    padding-bottom: 100px;
}

header{
    padding :8px;
    width: 400px;
    margin-left: 120px;
}

nav{
    padding: 7px;
    margin-top: 15px;    
    margin-left : 400px;
    margin-right: 200px;   
}

a{
    padding: 5px;
    text-decoration: none !important;
}

.tb{
    padding-left: 16px;
}

footer{
    padding      : 8px;
    margin-right : 200px;
    margin-left  : 200px;
}
  
h3 {
    padding:3px;
}

.INFO{
    margin-right: 200px;
    padding: 8px;
    margin-left: 200px;
}

.theme {
    position: fixed;
    cursor: pointer;
    top: 30%;
    left: 15%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px;
    width: 5;
}

.theme svg{
    cursor: pointer;
}