body{
    color : #000;
    padding-top: 100px;
    padding-right: 140px;
    padding-left: 140px;
    padding-bottom: 100px;
}

header{
    padding :8px;
    background-color: #fefefe ;
    border:2px solid #343434;
    width: 500px;
    margin-left: 70px;
}

nav{
    background-color: #fefefe ;
    border:2px solid black;
    padding: 8px;
    margin-top: 15px;  
    width: 100px;     
}

main{
    background-color: #fefefe ;
    border:2px solid black;
    padding: 8px;

}

h2 {
    color : #fefefe;
}

a{
    color: black;
    padding: 5px;
}

.tb{
    color:#000;
    padding-left: 16px;
}

footer{
    background-color: #fefefe ;
    border:2px solid black;
    padding: 8px;
}
  
h3 {
    padding:3px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    padding: 5px    ;
}